<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<link href="base.css" rel="stylesheet" type="text/css" />
</head>

<body class="detailedCon">

<!--标题-->
<h1 class="contitle">乌局势激发避险情绪!</h1>

<!--时间 作者 来源-->
<div><span>2014-03-09</span><span>徐晋</span><span><a href="#">长江商业评论</a></span></div>

<!--内容-->  
<p>周一数据显示，受季节性因素、生产和新订单指数回落等影响，中国2月官方和汇丰制造业采购经理人指数(PMI)指数双双跌落至逾半年低点。这表明中国经济增长动能依然偏弱，一季度增速下滑是大概率事件。</p>
<p><img src="img.jpg" width="640" height="683"/></p>
<p>周一数据显示，受季节性因素、生产和新订单指数回落等影响，中国2月官方和汇丰制造业采购经理人指数(PMI)指数双双跌落至逾半年低点。这表明中国经济增长动能依然偏弱，一季度增速下滑是大概率事件。</p>

<p><br /></p>
<p><a href="#">阅读原文>></a></p>
    
    
</body>
</html>
