<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<link href="/static/nanjing/css/base.css" rel="stylesheet" type="text/css" />
</head>

<body >
	<div class="formWrap">
	    <form action="{% url 'nanjing:open_account' appitem.slug %}" method="post">{%csrf_token%}
    	<ul class="formList">
        	<li class="title">预约开户：</li>
            <li><input name="name" type="text"  class="inputTxt" value="姓名"/></li>
            <li><input name="cid" type="text"  class="inputTxt" value="身份证号"/></li>
            <li><input name="tel" type="text"  class="inputTxt" value="手机号"/></li>
            <li><input name="" type="submit" class="inputBut" value="下一步" /></li>
        </ul>
        </form>
    </div>
    
</body>
</html>
