<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<link href="base.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="wrap">
    	<dl class="list_box clx">
        	<div class="listimg"><img src="img.jpg" width="205" height="140"/></div>
        	<dt>乌局势激发避险情绪 国内外白银价格上涨</dt>
            <dd>周一(3月3日)亚市盘中，国际现货白银价格大幅冲高至21.50美元/盎司附近，日内涨逾2%，乌克兰紧张形势持续，市场避险情绪再度上升。</dd>
        </dl>
        <dl class="list_box">
        	<div class="listimg"><img src="img.jpg" width="205" height="140"/></div>
       	  	<dt>乌局势激发避险情绪 国内外白银价格上涨</dt>
            <dd>周一(3月3日)亚市盘中，国际现货白银价格大幅冲高至21.50美元/盎司附近，日内涨逾2%，乌克兰紧张形势持续，市场避险情绪再度上升。</dd>
        </dl>
        <dl class="list_box">
        	<div class="listimg"><img src="img.jpg" width="205" height="140"/></div>
        	<dt>乌局势激发避险情绪 国内外白银价格上涨</dt>
            <dd>周一(3月3日)亚市盘中，国际现货白银价格大幅冲高至21.50美元/盎司附近，日内涨逾2%，乌克兰紧张形势持续，市场避险情绪再度上升。</dd>
        </dl>
        <dl class="list_box">
        	<div class="listimg"><img src="img.jpg" width="205" height="140"/></div>
        	<dt>乌局势激发避险情绪 国内外白银价格上涨</dt>
            <dd>周一(3月3日)亚市盘中，国际现货白银价格大幅冲高至21.50美元/盎司附近，日内涨逾2%，乌克兰紧张形势持续，市场避险情绪再度上升。</dd>
        </dl>
    </div>
    <div class="tools">
    	<a href="#" class="left">上一页</a>
        <a href="#" class="right click">下一页</a>
    </div>
</body>
</html>
